* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Header part */
header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    /* min-height: 80vh; */
    height: 720px;
    

}
.banner-title {
    font-weight: 400;
    font-size: 65px;

}
.banner-content-right {
    /* padding-top: 116px;
    padding-right: 130px;
    padding-left: 885px;
    text-align: right;
    position: absolute; */
    justify-content: right;

}



.banner-content-right button {
    padding: 30px 35px;
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-weight: 600px;
    font-size: 20px;
}

/* Body Section */



.container {
    display: flex;
    align-items: center;
}

.container img {
    width: 400px;
    margin: 300px;
}
.container-text h2{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    margin-right: 320px;
}

.container-text .container-list {
    margin-top: 5px;
}

/* My plans */
.my-plans {
    text-align: center;
    margin-bottom: 10px;

}

.skills-container {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
    padding-top: 20px;
}

/* always keep */
.always-keep {
    background-image: url(../images/gradient3.png);
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 1000px;
    margin-top: 124px;
    margin-left: 200px;

}

.title-button-div {
    padding-top: 70px;
    padding-left: 65px;
}

.always-keep button {
    padding: 20px 36px;
    background: #FFFFFF;
    color: red;
    border-radius: 5px;
    border: none;
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
}

.always-keep-title {
    color: aliceblue;
}

/* FOOTER */

.footer {
    display: flex;
    gap: 230px;
    background-color: black;
    margin-top: 130px;
    color: aliceblue;
}

.subscriber button {
    padding: 20px 36px;
    background: #FFFFFF;
    color: red; 
    border: none;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}

.future {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 230px;
    text-align: left;
}

.subscriber {
    padding-top: 130px;
    padding-bottom: 243px;
    padding-right: 5px;
    /* padding-left: 730px; */

}

.future-icon {
    padding-top: 25px;
}

input {
    
    background-color: black;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #F3F3F3;
    margin-top: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 150px;
    font-weight: 400;
    font-size: 18px;
}
