* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Header part */
header {
    background-image: url(/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;

}

.banner-content-right {
    padding-top: 216px;
    padding-right: 130px;
    padding-left: 885px;
    text-align: right;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    
}

.banner-content-right button {
    padding: 20px 25px;
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

                                    /* Body Section */
.falure-section{

}

.falure-img{
    background-image: url(/images/person.png);
}
